.title-1 {
  font-size: 80px;
  background-color: #cb0404 !important;
  /* Bootstrap css'i ve kendi css'imiz çakıştığında kendi css'imizin geçerli olması için verilen still özelliğinin sonuna !important eklenir.Bu sayede gerçekleşen still çakışması engellenir. */
}

.text {
  height: 200px;
}

.title {
  font-size: 30px;
  background-color: orange !important;
}

.page-link {
  background-color: black !important;
  color: white;
}
.page-link:hover {
  background-color: red !important;
  color: wheat !important;
  scale: 0.8;
}

.navbar-bg {
  background: #eecda3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ef629f,
    #eecda3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ef629f,
    #eecda3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fs-1 {
  font-size: 70px !important;
}
